@media screen and (min-width: 1280px){
   .hero-section{
      justify-content: space-around
   }
}
@media screen and (min-width: 786px){
   .hero-section{
      /* height: 80vh;
      overflow: hidden; */
   } 

}
@media screen and (max-width: 740px) {
   /* header {
      height: 18vh;
   } */

   nav {
      flex-direction: column;
      margin-bottom: 30px;
   }

   .logo-section {
      display: flex;
      flex-direction: column;
      margin: 0px 15px 0px 15px;
   }

   .card-section {
      margin: 15px;
      text-align: center;
   }

   .card-section>h3 {
      font-weight: 300;
   }

   .hero-section {
      display: block;
      /* height: 100vh; */
      margin-bottom: 15px;
   }

   .hero-text-ariya {
      margin: 8px 8px 25px 8px;
   }

   .hero-text-ariya>h1 {
      font-size: 30px;
   }

   .hero-btn>h3 {
      font-size: 12px;
   }

   .hero-text-ariya,
   .product-ariya {
      max-width: 90%;
   }

   .product-ariya {
      margin: 0px 4px 0px 4px;
   }

   .pro-output {
      width: 60px;
   }

   .pro-price {
      width: 120px;
   }
}

@media screen and (max-width: 425px) {
   /* header {
      height: 21vh;
   } */

   .logo-section {
      margin: 0px 45px 0px 45px;
   }

   .card-section {
      /* display: none; */
      margin: 10px 40px 0px 40px;
   }
   .hero-section{
      flex-direction: column;
   }
   .hero-text-ariya{
      margin: 15px;
   }
   .hero-text-ariya>h1 {
      font-size: 25px;
      text-align: center
   }

   .hero-btn {
      height: 56px;
      width: auto;
      margin-top: 21px;
   }

   .hero-btn>h3 {
      font-size: 12px;
   }

   .pro-output {
      width: 50px;
   }

   .pro-price {
      width: 95px;
   }
}