@media screen and (max-width: 720px) {
   header {
      height: 18vh;
   }

   nav {
      flex-direction: column;
   }

   .logo-section {
      display: flex;
      flex-direction: column;
      margin: 0px 15px 0px 15px;
   }

   .card-section {
      margin: 15px;
      text-align: center;
   }
   .card-section>h3{
      font-weight: 300;
   }
   .hero-section{
      display: block;
      height: 100vh;
      margin-bottom: 15px;
   }
   .hero-text-ariya {
      margin: 15px;
   }
   .hero-text-ariya>h1{
      font-size: 35px;
   }
  .hero-btn>h3{
   font-size: 12px;
  }
  .hero-text-ariya, .product-ariya {
      max-width: 90%;
  }
  .product-ariya{
   margin: 0px 4px 0px 4px;
  }
  .pro-output {
   width: 60px;
  }
  .pro-price{
   width: 120px;
  }
}
@media screen and (max-width: 425px) {
   header {
      height: 21vh;
   }
   .logo-section{
      margin: 0px 45px 0px 45px;
   }
   .card-section {
      margin: 10px 40px 0px 40px;
   }
   .hero-text-ariya>h1{
      font-size: 25px;
   }
   .hero-btn{
      height: 56px;
      margin-top: 21px;
   }
   .hero-btn>h3{
      font-size: 12px;
   }
   .pro-output {
      width: 60px;
     }
     .pro-price{
      width: 120px;
     }
}