body {
    background-color: #010F2C;
    font-family: 'Gretoon', sans-serif;
}
/* 
header {
    height: 12vh;
} */

nav {
    display: flex;
    justify-content: space-around;
}

.logo-section {
    padding: 5px 10px 5px 10px;
}

.card-section {
    background-color: white;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
    box-shadow: 9px 8px 0px #CE1598;
    height: 45px;
    cursor: pointer;
}

.card-section>h3 {
    /* color: #CE1598; */
    font-family: 'Gretoon';
    font-size: 12px;
}
h5, p{
    font-family: sans-serif;
    color: white;
}
h1, h2, h3{
    background: -webkit-linear-gradient(#FBD53A, #CE1598);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

i {
    margin-right: 15px;
    box-shadow: red(15 0 10 15 0);
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(#010f2cc9, #010f2ca6), url(images/bg-image-copy.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}
.hero-text-ariya, .product-ariya{
    max-width: 50%;
}
.hero-text-ariya{
    margin: 65px;
}
.hero-text-ariya>h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 144.4%;
}
.hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 60px;
    width: 250px;
    margin-top: 35px;
    border-radius: 10px;
    box-shadow: 9px 8px 0px #CE1598;
    cursor: pointer;
}
.hero-btn>h3{
    font-size: 13px;
}
.product-ariya{
    text-align: center;
    backdrop-filter: blur(5px);
    background-image: linear-gradient(#26093226, #12121200);
    border: 1px solid rgb(87, 0, 128);
    padding: 8px 12px 8px 12px ;
    margin: 10px 20px 10px 20px;
    border-radius: 10px;
}
.product-prising-section{
    border: 1px solid rgb(87, 0, 128);
    background-image: linear-gradient(#fbd43a75, #ce159767);
    border-radius: 10px;
}
.product-prising-section>h3{
    font-size: 12px;
}
.product-prising-section>h4{
    font-family: "Audiowide", sans-serif;
    color: white;
    font-size: 14px;
    font-weight: 600;
}
.product-prising-section>h4>span{
    color: #01FED1;
    font-family: sans-serif;
    font-weight: 800;
}
.price-quentity{
    display: flex;
    justify-content: space-around;
    color: white;
    height: 35px;
}
.product-cal{
    display: inline-flex;
    align-items: center;
}
.pro-output, .pro-price{
    color: #010F2C;
    height: 33px;
    width: 44px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color: white;
}
.pro-price{
    border-radius: 10px;
    width: 100px;
}

.low-btn, .high-btn{
    font-size: 20px;
    font-weight: 400;
    width: 40px;
    height: 33px;
    border: 0px;
    background-color: #CE1598;
    border-radius: 10px 0px 0px 10px;
}
.high-btn{
    border-radius: 0px 10px 10px 0px;
}

.product-cal>h5{
    padding: 0px 5px 0px 5px;
}
.buynow-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.buynow-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gretoon', sans-serif;
    border: 0;
    background-color: white;
    height: 40px;
    width: 200px;
    margin: 5px 25px 25px 25px ;
    border-radius: 10px;
    box-shadow: 9px 8px 0px #CE1598;
    cursor: pointer;
}